<aside class="sidebar sidemenu-panel">
  <div class="sidebar-header">
    <a href="/" class="logo">DB</a>
    <div class="logo-text">Dashboard</div>
    <button class="menu-toggle sidemenu-toggle">
      <span class="toggle-icon">
        <span class="toggle-bar"></span>
        <span class="toggle-bar"></span>
        <span class="toggle-bar"></span>
      </span>
    </button>
  </div>
  <div data-component="nav"></div>
</aside>
<div class="main-content">
  <div>
    <header class="header">
      <div class="top-nav">
        <div class="nav-brand">
          <h1><a href="" class="icon-clock">Now.js</a></h1>
        </div>
        <div data-component="header"></div>
        <div class="nav-tools">
          <button class="btn text dropdown icon-user">
            <span class="one_line">Jhon Doe</span>
            <ul>
              <li><a href="editprofile" class="icon-customer" data-i18n>Edit profile</a></li>
              <li><a href="settings" class="icon-settings" data-i18n>Settings</a></li>
              <li>
                <hr class="divider">
              </li>
              <li><a href="logout" class="icon-signout" data-i18n>Logout</a></li>
            </ul>
          </button>
          <button class="menu-toggle topmenu-toggle">
            <span class="toggle-icon">
              <span class="toggle-bar"></span>
              <span class="toggle-bar"></span>
              <span class="toggle-bar"></span>
            </span>
          </button>
        </div>
      </div>
    </header>
    <main class="error-404-content">
      <div class="error-404-container">
        <div class="error-404-icon animate-float">404</div>
        <p data-i18n>Page Not Found</p>
        <div class="error-404-message" data-i18n>
          Sorry, we couldn't find the page you're looking for. It might have been moved, deleted, or never existed.
        </div>
      </div>
    </main>
  </div>
  <footer class="footer">
    <p class="center">&copy; 2025 Now.js - <a href="https://nowjs.net">nowjs.net</a></p>
  </footer>
</div>